* {
	font-size: 10px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}

body {
	background: #e1dbdb;
}

h1 {
	text-align: center;
	color: #5fa12cbf;
	font-size: 3rem;
}

.login {
	display: flex;
    width: 25%;
    align-items: center;
    margin: auto;
    flex-direction: column;
    margin-top: 20px;
    background: white;
    box-shadow: 0 0 10px 1px black;
    padding: 10px;
    min-height: 250px;
    justify-content: space-between;
}

.login__state {
    color: red;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

form {
	display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    flex: 1;
}

form > div {
	display: flex;
    height: 46px;
    flex-direction: column;
}

input {
    border: 1px solid #aba3a3;
    padding-left: 10px;
    font-size: 2rem;
    min-height: 37px;
}

label {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: bold
}

.btn--green {
	background: #5fa12cbf;
	color: white;
	cursor: pointer;
}


